# bloat
.DS_Store
npm-debug.log
.idea

# VS code configs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# certificates
*.pem
*.key
*.crt
*.cer

# environments
*.env

# folders
node_modules
app/dist
