// blues
$color-blue-steel: #4178BE;
$color-blue-steel-shadow: #3067AD;
$color-blue-bahama: #00649D;
$color-blue-matisse: #1F57A4;
$color-blue-stone: #152935;

// whites
$color-white: white;
$color-white-soft: #efefef;

// greens
$color-green-persian: #00A78F;
$color-green-deep-teal: #003C32;

// reds
$color-red-violet: #CB1E76;
$color-red-valencia: #D5373B;

// greys
$color-grey-mild: #535353;
$color-grey-shuttle: #5A6872;
$color-grey-scorpion: #5A5A5A;
$color-grey-alto: #E0E0E0;
$color-grey-porcelain: #F0F2F3;
$color-grey-opacity: rgba(48,48,48,.15);

// text shadow
$text-shadow-blue: -1px -1px 0px #3067AD, 1px 1px 0px #3067AD, -1px 1px 0px #3067AD, -1px -1px 0px #3067AD;
$text-shadow-dark: -1px -1px 0px #535353, 1px 1px 0px #535353, -1px 1px 0px #535353, -1px -1px 0px #535353;
$text-shadow-light: -1px -1px 1px #a9a9a9, 1px 1px 1px #a9a9a9, -1px 1px 1px #a9a9a9, -1px -1px 1px #a9a9a9;

// input text
$input-user: rgb(245, 245, 197);
